/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css'); */
/* General */

body {
    background-color: #40e0d0;
}

.navbar {
    border-radius: 0;
    z-index: 10;
}

.nav-item{
    font-size: 16px;
}

.navbar-brand {
    font-size: 18px;
}

.navbar-brand,
.navbar-item {
    color: #8c8c8c;
}

.navbar-brand:hover,
a.navbar-item:hover {
    color: #ffffff;
}


/* TOP page */
.card {
    border-radius: 10px;
    padding: 10px 10%;
}

.btn-lg {
    transition: 0.8s;
}

.form-group:not(:last-child) {
    margin-bottom: 60px;
}

/* .form-group:first-of-type {
    margin-top: 5px;
} */

.form-group:nth-of-type(4) {
    margin-bottom: 63.5px;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

label:before {
    content: "▶︎";
    color: #40e0d0;
    margin-right: 5px;
}

.home-btn {
    margin-bottom: 20px;
}

.btn-lg {
    border: 2px  solid #40e0d0;
    color: #40e0d0;
    background-color: #fff;
    font-weight: bold;
}

.btn-lg:hover {
    border: 2px  solid #40e0d0;
    background-color: #40e0d0;
}

.logo {
    width: 350px;
    max-width: 80%;
    margin: 20px auto 10px;
    z-index: 9;
}

.circle {
    position: absolute;
    top: -70px;
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* List Page*/
.list-title, .result-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
table {
    margin-top: 20px;
}

/* result page */
.result-card {
    padding: 10px 4px;
    border: 2px dotted #40e0d0;
}

.result-card-body {
    padding: 2px;
}

.card-deck {
    margin-top: 30px;
}

.result-topic {
    margin-top: 18px;
}

.result-label {
    font-weight: bold;
}

.recommend-switch {
    border: 2px solid #40e0d0;
    margin: 20px 0;
}

.result-name,.list-name {
    font-weight: bold;
    color: #40e0d0;
}

.result-description {
    color: #555;
}

.swipe {
    color: #555;
    font-size: 13px;
}

#rec-switch {
    transition: 0.6s
}

#rec-switch:hover {
    transform: scale(1.08);
}

.detail {
    padding: 10px 4px;
    border: 2px dotted #40e0d0;
    border-radius: 10px;
}


/* スマホ横画面用 */
@media screen and (max-width: 480px) {
    .container{padding:0 10px}
    div[class^="col-"] {padding:0}
    .row {margin:0;}
    .card {padding: 0;}
    .result-title {margin-top: 10px;}
    .list-title {margin-top: 10px;}
    #rec-switch:hover {
        transform: none;
    }
    .logo {
        width: 50%;
        height: 50%;
        margin: 20px auto 0;
        z-index: 9;
    }
    .switch-img {
        text-align: center;
        width: 500px;
        height: 500px;
    }
}
/* スマホ縦画面用 */
@media screen and (max-width: 320px) {
    .container{padding:0 10px}
    div[class^="col-"] {padding:0}
    .row {margin:0;}
}